<div class="search-card">
  <%= link_to bike_path(bike_card.id), target:"_blank", rel:"noopener noreferrer nofollow" do %>
    <%= render partial: "common/bike", locals: { bike: bike_card } %>
  <% end %>
</div>
