<div class="bike-container">
  <div class="bike-card">
    <%= render partial: "common/bike", locals: { bike: @bike } %>
    <div class="booking-form">
      <%= button_to("Book", new_booking_path(bike_id: @bike.id), class: "booking-button") %>
    </div>
  </div>
</div>
